# #

In [2]:
print("Hello World")

Hello World

# # 기본 개념

## (1) 산술연산

In [3]:
23+2

25

In [9]:
2**6

64

In [4]:
76/4

19.0

#### 몫

In [5]:
87//2

43

#### 나머지

In [8]:
9%6

3

#### 복소수 연산

In [11]:
a = 1+1j

In [12]:
b = 1-1J

In [13]:
a*b

(2+0j)

#### 문자열 연산

In [14]:
divmod(9,5)

(1, 4)

In [15]:
2**10

1024

In [16]:
print("I Love pizza")

I Love pizza

In [19]:
print("pizza"*5)

pizzapizzapizzapizzapizza

In [20]:
Professor = "David Embly"

In [21]:
print(Professor)

David Embly

In [22]:
print("Professor")

Professor

## (2) 변수

In [23]:
a, b = 'var1', 'var2'

In [24]:
c = ('tuple1', 'tuple2')

In [25]:
d = ['list1', 'list2']

In [26]:
print(a)
print(b)
print(c)
print(d)

var1
var2
('tuple1', 'tuple2')
['list1', 'list2']

In [27]:
print(a,b,c,d)

var1 var2 ('tuple1', 'tuple2') ['list1', 'list2']

In [29]:
a = 10

In [30]:
z

NameError: name 'z' is not defined

In [31]:
z = 10
z

10

#### # 데이터 변수 형태 확인

In [33]:
a = 10
b = 3.14
c = True

print(a, type(a))
print(b, type(b))
print(c, type(c))

10 <class 'int'>
3.14 <class 'float'>
True <class 'bool'>

## (3) 자료형

#### 기본 자료형(정수형, 실수형 변수)

In [34]:
a = 100
b = 3.14

In [36]:
print(a)
print(bin(a)) #2진수
print(hex(a)) #16진수
print(oct(a)) #8진수

100
0b1100100
0x64
0o144

In [37]:
print(3/2)

1.5

In [38]:
print(3.0/2)

1.5

In [40]:
a = 32
print(a, hex(a), oct(a), bin(a))

32 0x20 0o40 0b100000

In [46]:
a = 1.2 #a에 실수 1.2 할당 
b = 2.0 #b에 실수 2.0 할당 

print (a.is_integer(), b.is_integer()) #a와 b가 정수형인지 확인 

import math #math 라이브러리 호출 

print (round(a), math.ceil(a), math.floor(a)) # a의 반올림, 올림, 내림 계산 수행

False True
1 2 1

#### 부울 자료형(논리형 변수)

In [49]:
print(10 == 10)

print(10 != 10)

print(10 < 10)

print(10 > 10)

print(10 <= 10)

print(10 >= 10)

True
False
False
False
True
True

## (4) 문자열

#### 문자열 객체

In [65]:
sentence= '안녕하세요. ' + "반갑습니다"

In [66]:
sentence

'안녕하세요. 반갑습니다'

In [67]:
sentence.split() # 띄어쓰기를 기준으로 split함수를 사용

['안녕하세요.', '반갑습니다']

In [68]:
sentence.find('반갑습니다')

7

In [70]:
sentence.find('python') # 변수에 해당 문자열이 없을 시 -1을 리턴함

-1

In [74]:
sentence.replace('.','!') # 문자 변환

'안녕하세요! 반갑습니다'

In [73]:
sentence.strip('안녕') # 문자 제거

'하세요. 반갑습니다'

## (5) 주석 만들기

In [84]:
a = 100 # 주석

In [85]:
'''
다음과 같이 주석을 나타낼 수 있음
'''

a = 100

# # 연산

## (1) 산술연산과 비교연산

## (2) 수치연산

In [86]:
print(3*3*3*3*3)

243

In [87]:
print(3**5)

243

In [89]:
print(7/2)

3.5

In [90]:
print(7%2)

1

#### 모듈 math

In [91]:
import math

In [96]:
print(math.pow(2,10)) #지수 연산

1024.0

In [93]:
print(math.sqrt(121)) #제곱근 연산

11.0

In [94]:
print(math.log(12)) #자연로그 연산

2.4849066497880004

In [95]:
print(math.log10(100)) # 상용로그 연산

2.0

## (3) 데이터 형변환(정수형 <-> 실수형)

In [97]:
a=10

In [98]:
b=3

In [105]:
print(a/b)

3.3333333333333335

In [106]:
a = float(10) # a를 실수형으로 변환

In [107]:
print(a/b)

3.3333333333333335

In [117]:
x = 10

In [118]:
import numpy

In [119]:
import pandas

In [102]:
print(a)

10.0

In [108]:
a = 10.7
b = 10.3

a = int(a)
b = int(b)

print(a+b)

print(a)
print(b)

20
10
10

# # 자료 구조

- 자료를 효율적으로 저장하는 여러 가지 구조
- 리스트, 튜플, 세트, 딕셔너리 구조

## (1) 리스트

- 순서가 있는 값들의 집합
- 리스트는 순서가 있는 값들의 집합
- 리스트를 사용하는 경우는 서로 관련된 데이터를 차례로 접근해 처리하고 싶은 경우
- 리스트는 데이터들에게 하나하나 이름을 붙이지 않고 전체 집단에 하나의 이름을 부여한 다음, 숫자로 된 번호를 통해 각각의 데이터에 접근하는 방법
- 파이썬에서는 다양한 종류의 데이터를 하나의 리스트 안에 저장 가능

In [122]:
data = [10, 20, 30, 40, 50, 60]

In [123]:
print(data)

[10, 20, 30, 40, 50, 60]

In [124]:
print(type(data))

<class 'list'>

In [125]:
print(data[0])
print(data[4])

print(data)
data[0] = data[4]
print(data)

10
50
[10, 20, 30, 40, 50, 60]
[50, 20, 30, 40, 50, 60]

In [130]:
a = ["color", 1, 0.2] # 다양한 데이터 타입 입력 가능
color = ['yellow', 'blue', 'green', 'black', 'purple']

a[0] = color # 리스트 안에 리스트도 입력 가능

print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

#### 리스트 인덱싱

In [131]:
data = ["사과", "배", "포도", "딸기", "토마토", "메론"]
print(data)

['사과', '배', '포도', '딸기', '토마토', '메론']

In [135]:
print("리스트 인덱싱을 통해 하나의 값을 표현: ", data[0])

리스트 인덱싱을 통해 하나의 값을 표현:  사과

#### 리스트 슬라이싱

In [136]:
print("리스트 슬라이싱을 통해 하나의 값을 표현: ", data[2:4] )

리스트 슬라이싱을 통해 하나의 값을 표현:  ['포도', '딸기']

#### 리스트 병합

In [137]:
data_1 = [10, 20, 30, 40, 50]
data_2 = [5, 10, 15, 20, 25]

In [138]:
data_1 + data_2

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]

#### 리스트 데이터 추가 : append(), insert()

In [140]:
lists = [1,100,'python']
print(lists)
print(type(lists))
print()

[1, 100, 'python']
<class 'list'>

 - append() : 추가하는 데이터를 맨 마지막에 넣음

In [147]:
lists.append('py')
print("py라는 값을 추가한 후의 lists : ", lists)

py라는 값을 추가한 후의 lists :  [1, 100, 'python', 'py']

- insert() : 추가하려는 위치와 데이터를 지정해 줄 수 있음

In [148]:
lists.insert(1, '0.5')

In [149]:
lists

[1, '0.5', 100, 'python', 'py']

##### -   실습

In [168]:
test = [100, 500, '이기준']

In [169]:
test

[100, 500, '이기준']

In [170]:
test.append(4)

In [171]:
test

[100, 500, '이기준', 4]

In [173]:
test.insert(2,'기준')

In [174]:
test

[100, 500, '기준', '이기준', 4]

#### 리스트 데이터 삭제 : remove()

In [150]:
lists

lists.remove('python')
lists

[1, '0.5', 100, 'py']

#### 리스트 데이터 최대, 최솟값 검색 : max(), min()

In [162]:
data_list = [10,20,30,40,50]

In [165]:
print(max(data_list))

90

In [166]:
print(min(data_list))

10

#### 리스트 데이터 정렬 : sort()

In [152]:
data_list = [50,20,40,30,10,60,90]

data_list.sort()
print(data_list)

[10, 20, 30, 40, 50, 60, 90]

#### 리스트의 연산

In [156]:
color = ['red', 'blue', 'green'] 
color2 = ['orange', 'black', 'white'] 
print(color + color2) # 두 리스트 합치기 

len(color) # 리스트 길이

['red', 'blue', 'green', 'orange', 'black', 'white']

3

In [157]:
color[0] = 'yellow' # 0번째 리스트의 값을 변경 

print(color * 2) # color 리스트 2회 반복 

total_color = color + color2

['yellow', 'blue', 'green', 'yellow', 'blue', 'green']

In [177]:
for each_color in total_color:
    print(each_color)

yellow
blue
green
orange
black
white

In [178]:
color.append("white")
color.extend(["black", "purple"])
color.insert(0,"orange")
print(color)

['orange', 'yellow', 'blue', 'green', 'white', 'black', 'purple']

In [179]:
color.remove("white")

In [180]:
del color[0]

In [181]:
color

['yellow', 'blue', 'green', 'black', 'purple']

#### 리스트 함수들

In [182]:
a = [5,3,4,1,2]

In [183]:
a.index(2)

4

In [184]:
a.count(5)

1

In [185]:
a.sort()

In [186]:
a

[1, 2, 3, 4, 5]

In [187]:
a.reverse()

In [188]:
a

[5, 4, 3, 2, 1]

In [189]:
b = sorted(a)

In [192]:
b

[1, 2, 3, 4, 5]

#### 이차원 리스트

In [193]:
kor_score = [49,79,20,100,80]
math_score = [43,59,85,30, 90]
eng_score = [49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]
midterm_score[0][2]

20

In [206]:
student_score = [0,0,0,0,0]
i = 0

for subject in midterm_score:
    for score in subject:
        student_score[i] += score # 각 학생마다 개별로 교과 점수를 저장
        i += 1 # 학생 index 구분
    i = 0 # 과목이 바뀔때 학생 인덱스 초기화
    
else:
    a, b, c, d, e = student_score # 학생별 점수를 unpacking
    student_average = [a/3,b/3,c/3,d/3,e/3]
    print(student_average)

[47.0, 72.33333333333333, 51.0, 63.333333333333336, 90.0]

## (2) 튜플(tuple)

- 리스트와 유사한 구조를 가진 자료구조
- 튜플은 리스트에 비해 접근 속도가 빠름
- 하지만 튜플은 직접 변경할 수 없으며 리스트와 같이 append, insert 등의 함수 사용 불가
- 튜플은 한번 값이 할당된 후에는 변경할 수 없다.
- 튜플 구조 : 튜플 = (항목1 , 항목2 , 항목3, ... , 항목n)

In [209]:
data = ("사과", "배", "포도", "토마토", "딸기")

print(data)
print(type(data))

('사과', '배', '포도', '토마토', '딸기')
<class 'tuple'>

In [210]:
data[0]

'사과'

##### 데이터 변경 에러!

In [211]:
data[0] = 100

TypeError: 'tuple' object does not support item assignment

#### 튜플 전체 데이터 수 검색

In [212]:
data = (100, 200, 100, 300, 100, 500)
print(type(data))

print(data.count(100))

<class 'tuple'>
3

#### 튜플 슬라이싱

In [213]:
data = (100, 200, 100, 300, 100, 500)
print(type(data))

print(data[2:4])

<class 'tuple'>
(100, 300)

#### 튜플 데이터 병합

In [214]:
data1 = ("사과", "배", "포도", "토마토", "딸기")
data2 = (100, 200, 100, 300, 100, 500)


data = data1 + data2

print(data)

('사과', '배', '포도', '토마토', '딸기', 100, 200, 100, 300, 100, 500)

#### 튜플 데이터 반복

In [217]:
data = ("사과", "배", "포도", "토마토", "딸기")

print(data*2)

('사과', '배', '포도', '토마토', '딸기', '사과', '배', '포도', '토마토', '딸기')

## (3) 세트(set)

- 수학에서 배웠던 집합
- 순서에 상관없고 중복을 허용하지 않는 자료구조
- 중괄호 기호 안에 항목들을 쉼표로 분리

In [218]:
data = {100, 200, 300}
print(data)
print(type(data))

{200, 100, 300}
<class 'set'>

##### 인덱싱 X

In [224]:
data = {100, 200, 300, 400, 500, 600, 700}
print(data)
print(type(data))

data[0:4]

{100, 200, 300, 400, 500, 600, 700}
<class 'set'>

TypeError: 'set' object is not subscriptable

#### 데이터 추가

- add()

In [225]:
data = {100, 200, 300, 400, 500, 600}
print(data)

data.add(700)
print(data)

{100, 200, 300, 400, 500, 600}
{100, 200, 300, 400, 500, 600, 700}

#### 데이터 업데이트

- update()

In [227]:
data = {100}
print(data)

data.update([200,300,400,500,600])
print(data)

{100}
{100, 200, 300, 400, 500, 600}

#### 데이터 삭제

In [228]:
data = {100, 200, 300, 400, 500, 600}
print(data)

data.remove(600)
print(data)

{100, 200, 300, 400, 500, 600}
{100, 200, 300, 400, 500}

#### 데이터 초기화

In [229]:
data = {100, 200, 300, 400, 500, 600}
print(data)

data.clear()
print(data)

{100, 200, 300, 400, 500, 600}
set()

- 교집합 : intersection()

In [231]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

print()
print(A.intersection(B))

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

{200, 100, 300}

- 차집합 : difference()

In [232]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

print()
print(A.difference(B))

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

{400, 500}

- 합집합 : union()

In [233]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

print()
print(A.union(B))

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

{100, 200, 300, 400, 500, 150, 250}

- 합집합에서 교집합을 뺀 집합 : symmetric_difference()

In [236]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}
print(A)
print(type(A))
print(B)
print(type(B))

print()
print(A.symmetric_difference(B))

{100, 200, 300, 400, 500}
<class 'set'>
{100, 200, 300, 150, 250}
<class 'set'>

{400, 500, 150, 250}

## (4) 딕셔너리(Dictionary)

- 사전이라는 의미
- 사전에는 단어와 설명이 있는데 파이썬의 딕셔너리에서는 이를 키(key)와 값(value)로 표현
- 딕셔너리는 중괄호 안에 항목을 쉼표로 분리시켜 나열

In [242]:
dictionary = {
    'Name' : '홍길동',
    'Email' : 'leeegijun@gmail.com',
    '주소' : '서울시 광진구'
}

type(dictionary)

dict

In [244]:
data = {"사과" : 300, "배": 200, "포도":500, "딸기": 700}
print(data)
print(type(data))

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
<class 'dict'>

#### 항목 검색 : get()

In [245]:
data = {"사과" : 300, "배": 200, "포도":500, "딸기": 700}

print(data["사과"])

print(data.get("사과"))

300
300

#### 항목 추가

In [246]:
data = {"사과" : 300, "배": 200, "포도":500, "딸기": 700}

print(data)

data["메론"] = 1000
print(data)

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
{'사과': 300, '배': 200, '포도': 500, '딸기': 700, '메론': 1000}

#### 항목 삭제 : pop()

In [247]:
data = {"사과" : 300, "배": 200, "포도":500, "딸기": 700}
print(data)

data.pop("사과")
print(data)

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
{'배': 200, '포도': 500, '딸기': 700}

#### 항목 정렬 : sorted()

In [249]:
data = {"사과" : 300, "배": 200, "포도":500, "딸기": 700}
print(data)

print(sorted(data))

print(sorted(data.values()))

{'사과': 300, '배': 200, '포도': 500, '딸기': 700}
['딸기', '배', '사과', '포도']
[200, 300, 500, 700]

# # 조건 및 반복문

####  IF문 / For문 / While문

## (1) 조건문

- 조건에 따라 특정한 동작을 하게하는 명령어
- 데이터에서 조건이 일치하는 경우 실행되고 일치하지 않을 시 else 문이 실행
- If문을 실행하기 위해서 아래 그림과 같이 블록을 생성함
- 해당 조건이 맞을 때 첫번째 블록 ‘들여쓰기 한 명령문1’을 실행
- 맞지 않을 때 두번째 블록 ‘들여쓰기 한 명령문2’를 실행
- If문을 구성할 때는 항상 4개의 공백 후 블록문을 들여쓰기 함.

### if문

In [253]:
a = 100


if a ==100:
    print("일치")
else:
    print("불일치")

일치

In [254]:
a = 200


if a ==100:
    print("일치")
else:
    print("불일치")

불일치

### if-else문

In [259]:
print("Tell me your age?")

myage = int(raw_input()) # 나이를 입력 받아 myage 변수에 할당 

if myage < 30: # myage 가 30 미만일 때 
    print ("Welcome to the Club") 
else: # myage 가 30 이상일 때 
    print ("Oh! No. Here is not a travel night club.")

Tell me your age?

NameError: name 'raw_input' is not defined

In [261]:
print("Tell me your age?")

myage = int(input()) # 나이를 입력 받아 myage 변수에 할당 

if myage < 30: # myage 가 30 미만일 때 
    print ("Welcome to the Club") 
else: # myage 가 30 이상일 때 
    print ("Oh! No. Here is not a travel night club.")

Tell me your age?
30
Oh! No. Here is not a travel night club.

### if-elif-else문

In [274]:
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
        grade = "A"
elif 80 <= score < 90:
        grade = "B"
elif 70 <= score < 80:
        grade = "C"
elif 60 <= score < 70:
        grade = "D"
else:
        grade = "F"

print("Grade is " + grade)

Input Score: 100
Grade is A

### and / or / not

X

In [287]:
if score >= 90: 
    grade = 'A' 
if score >= 80: 
    grade = 'B' 
if score >= 70: 
    grade = 'C' 
if score >= 60: 
    grade = 'D' 
if score < 60: 
    grade = 'F' 
    
print(grade)

Input Score: 100
D

수정

In [288]:
if score >= 90: grade = 'A' # 90 이상일 경우 A 
elif score >= 80: grade = 'B' # 80 이상일 경우 B 
elif score >= 70: grade = 'C' # 70 이상일 경우 C 
elif score >= 60: grade = 'D' # 60 이상일 경우 D 
else: grade = 'F' # 모든 조건에 만족하지 못할 경우 F

##### 실습

In [307]:
print("당신이 태어난 년도를 입력하세요.\n") # 뉴라인
birthYear = int( input() ) 
age = 2017 - birthYear + 1 

if 20 <= age <= 26: print("대학생") 
elif 17 <= age < 20: print("고등학생") 
elif 14 <= age < 17: print("중학생") 
elif 8 <= age < 14: print("초등학생") 
else: print("학생이 아닙니다.")

당신이 태어난 년도를 입력하세요.

1992
대학생

In [306]:
print("테니스를 잘 치십니까?")

tennis = int(input())

if 5 <= tennis <= 10: print("5코트")
elif 3 <= tennis < 5: print("4코트")
else: print("3코트")

테니스를 잘 치십니까?
4
4코트

## (2) 반복문

### for문

In [289]:
num_list = [1,2,3,4,5]

for num in num_list:
    print(num)

1
2
3
4
5

In [290]:
for looper in [1,2,3,4,5]:
    print("hello")

hello
hello
hello
hello
hello

In [291]:
for looper in [1,2,3,4,5]:
    print(looper)

1
2
3
4
5

- range()

In [293]:
for looper in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

##### 왜 range(1,5) 과 아닌 range (0,5) 인가?
- range()는 마지막 숫자 바로 앞까지 리스트를 만들어줌
- 즉, range(1,5) = [1,2,3,4] 까지 같은 의미
- ※ range(0,5) = [0,1,2,3,4] = range(5)는 같은 의미

#### 문자열을 한자씩 리스트로 처리

In [295]:
for i in 'abcdefg':
    print(i)

a
b
c
d
e
f
g

#### 각각의 문자열 리스트로 처리

In [297]:
for i in ['Americano', 'latte', 'frafuchino']:
    print(i)

Americano
latte
frafuchino

#### 간격을 두고 세기

In [298]:
for i in range(1, 10, 2): # 1부터 10까지 2씩 증가시키면서 반복문 수행
    print(i)

1
3
5
7
9

In [299]:
for i in range(10, 1, -1): # 10부터 1까지 -1씩 감소시키면서 반복문 수행
    print(i)

10
9
8
7
6
5
4
3
2

### while문

- 조건에 만족하는 값이 나올 때까지 명령문들을 반복 수행
- While문이 시작한 행은 반복문의 헤더라 칭한다.
- 헤더의 조건을 비교해 while문의 몸통부분에 대해 코드를 조건에 만족하는 값이 나올 때까지 반복적으로 수행
- 코드의 ‘들여쓰기한 명령문1’ 블록을 몸통이라고 한다.

### break, continue, else